<div class="container">
  <div class="table-container">
    <span> Score = {{score}}</span>
    <button class="btn btn-sm btn-outline-secondary pull-right" (click)="ngOnInit()">Reset Game</button>
    <table class="table table-bordered">
      <tbody>
        <tr *ngFor="let item of arr;let i=index">
          <td *ngFor="let x of item;let j=index;" (click)="clicked(i,j,item)"><div class="img"><img src="./assets/question.png" *ngIf="x.image2"/><img src="./assets/diamond.png" *ngIf="x.image1"/><img src="./assets/arrow.png" *ngIf="x.image3"/></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>